@model IEnumerable<MVC_DBFirst_Demo.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CatId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.CatId}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.CatId})
            </td>
        </tr>
}
    </tbody>
</table>
